body{
    border: 3px solid red;
}

h1{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("./Pictures/pattern.jpeg");
}

h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white
}

p{
    font-family: Helvetica;
}

mark{
    color: blue;
    background-color: white;
    font-weight: bold;
}

.Brushes{
    background-color:mediumspringgreen ;
}

.Frames{
    background-color: lightcoral;
}

.Paint{
    background-color: skyblue;
}